<h3>Novo Cadastro de Ficha no Site</h3>
<hr>
<p><b>Identificador do Site:</b> <%= @dados.id.to_s.rjust(6, '0') %></p>
<p><b>Nome:</b> <%= @dados.nome %></p>
<p><b>Idade:</b> <%= @dados.idade %></p> 
<p><b>Data de Nascimento:</b> <%= @dados.nascimento %></p>
<p><b>Endereço:</b> <%= @dados.endereco %></p>
<p><b>Número:</b> <%= @dados.numero %></p>
<p><b>Edifício:</b> <%= @dados.edificio %></p>
<p><b>Bloco:</b> <%= @dados.bloco %></p>
<p><b>Apto:</b> <%= @dados.apto %></p>
<p><b>Bairro:</b> <%= @dados.bairro %></p>
<p><b>Cep:</b> <%= @dados.cep %></p>
<p><b>Referência:</b> <%= @dados.referencia %></p>
<p><b>Instituição:</b> <%= @dados.instituicao %></p> 
<p><b>Período:</b> <%= @dados.periodo %></p> 
<p><b>Série:</b> <%= @dados.serie %></p> 
<p><b>Turma:</b> <%= @dados.turma %></p> 
<p><b>Sala:</b> <%= @dados.sala %></p>
<p><b>Professor:</b> <%= @dados.professor %></p> 
<p><b>Responsável:</b> <%= @dados.responsavel %></p> 
<p><b>Nome do Pai:</b> <%= @dados.nome_pai %></p>
<p><b>RG do Pai:</b> <%= @dados.rg_pai %></p>
<p><b>CPF do Pai:</b> <%= @dados.cpf_pai %></p> 
<p><b>Data de Nascimento do Pai:</b> <%= @dados.data_nascimento_pai %></p> 
<p><b>Local de Trabalho do Pai:</b> <%= @dados.local_trabalho_pai %></p>
<p><b>Telefone Comercial do Pai:</b> <%= @dados.fone_comercial_pai %></p>
<p><b>Telefone Residencial do Pai:</b> <%= @dados.fone_residencial_pai %></p>
<p><b>Celular do Pai:</b> <%= @dados.celular_pai %></p> 
<p><b>E-mail do Pai:</b> <%= @dados.email_pai %></p> 
<p><b>Nome da Mãe:</b> <%= @dados.nome_mae %></p>
<p><b>RG da Mãe:</b> <%= @dados.rg_mae %></p>
<p><b>CPF da Mãe:</b> <%= @dados.cpf_mae %></p> 
<p><b>Data de Nascimento da Mãe:</b> <%= @dados.data_nascimento_mae %></p> 
<p><b>Local de Trabalho da Mãe:</b> <%= @dados.local_trabalho_mae %></p>
<p><b>Telefone Comercial da Mãe:</b> <%= @dados.fone_comercial_mae %></p>
<p><b>Telefone Residencial da Mãe:</b> <%= @dados.fone_residencial_mae %></p>
<p><b>Celular da Mãe:</b> <%= @dados.celular_mae %></p> 
<p><b>E-mail da Mãe:</b> <%= @dados.email_mae %></p> 