<div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
  <ol class="breadcrumb">
    <li><%= link_to("Início", arearestrita_url) %></li>
    <li><%= link_to("Cadastro de Newsletters", newsletters_url) %></li>
    <li class="active">Exibir Newsletter</li>
  </ol>

  <div class="panel panel-primary">
    <div class="panel-heading col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3 class="panel-title">Cadastro de Newsletters</h3>
    </div>
    <div class="panel-body">
      <div class="row-fluid row-fluid-custom">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Informações Básicas</h3>
            </div>
            <div class="panel-body">
              <p><b>Identificador do Site:</b> <%= @newsletter.id.to_s.rjust(6, '0') %></p>
              <p><b>Nome:</b> <%= @newsletter.nome %></p>
              <p><b>E-mail:</b> <%= @newsletter.email %></p>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Informações de Cadastro</h3>
            </div>
            <div class="panel-body">
              <p><b>Cadastrado em:</b> <%= @newsletter.created_at.to_s(:data_hora) %></p>
              <p><b>Cadastrado por:</b> <%= @newsletter.user.nome_completo %></p>
              <p><b>Status:</b> 
                <% case @newsletter.status %>
                  <% when 0 %>
                    Ativo
                  <% when 1 %>
                    Inativo
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>