<div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
  <ol class="breadcrumb">
    <li><%= link_to("Início", arearestrita_url) %></li>
    <li><%= link_to("Cadastro de Contatos", contatos_url) %></li>
    <li class="active">Exibir Contato</li>
  </ol>

  <div class="panel panel-primary">
    <div class="panel-heading col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="nav navbar-nav navbar-left">
        <li><h3 class="panel-title">Cadastro de Contatos</h3></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-panel-custom" data-toggle="dropdown">Opções <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to(contatos_path, "role" => "button") do %>
                <span class="glyphicon glyphicon-tasks"></span>
                &nbsp;Listar Contatos
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="row-fluid row-fluid-custom">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Informações Básicas</h3>
            </div>
            <div class="panel-body">
              <p><b>Código do Contato:</b> <%= @contato.id.to_s.rjust(6, '0') %></p>
              <p><b>Nome:</b> <%= @contato.nome %></p>
              <p><b>Telefone:</b> <%= @contato.telefone %></p>
              <p><b>E-mail:</b> <%= @contato.email %></p>
              <p><b>Mensagem:</b> <%= @contato.mensagem %></p>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Informações do Cadastro</h3>
            </div>
            <div class="panel-body">
              <p>
                <b>Status:</b>
                <% case @contato.status %>
                  <% when 0 %>
                    Não Lido
                  <% when 1 %>
                    Lido
                <% end %>
              </p>
              <p><b>Cadastrado em:</b> <%= @contato.created_at.to_s(:data_hora) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>