<div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
  <ol class="breadcrumb">
    <li><%= link_to("Início", arearestrita_url) %></li>
    <li><%= link_to("Cadastro de Instituições", instituicoes_url) %></li>
    <li class="active">Exibir Instituição</li>
  </ol>

  <div class="panel panel-primary">
    <div class="panel-heading col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="nav navbar-nav navbar-left">
        <li><h3 class="panel-title">Cadastro de Instituições</h3></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-panel-custom" data-toggle="dropdown">Opções <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li>
                <%= link_to(new_instituicao_path, "role" => "button") do %>
                  <span class="glyphicon glyphicon-plus-sign"></span>
                  &nbsp;Cadastrar Instituição
                <% end %>
              </li>
              <li>
                <%= link_to(edit_instituicao_path(@instituicao), "role" => "button") do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                  &nbsp;Editar Instituição
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to(instituicoes_path, "role" => "button") do %>
                  <span class="glyphicon glyphicon-tasks"></span>
                  &nbsp;Listar Instituições
                <% end %>
              </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="row-fluid row-fluid-custom">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Informações Básicas</h3>
            </div>
            <div class="panel-body">
              <p><b>Identificador do Site:</b> <%= @instituicao.id.to_s.rjust(6, '0') %></p>
              <p><b>Instituição:</b> <%= @instituicao.nome %></p>
              <p><b>Categoria:</b> <%= @instituicao.instituicao_categoria.nome%></p>
              <p><b>Status:</b> 
                <% case @instituicao.status %>
                  <% when 0 %>
                    Ativo
                  <% when 1 %>
                    Inativo
                <% end %>
              </p>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Informações de Cadastro</h3>
            </div>
            <div class="panel-body">
              <p><b>Cadastrado em:</b> <%= @instituicao.created_at.to_s(:data_hora) %></p>
              <p><b>Cadastrado por:</b> <%= @instituicao.user.nome_completo %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>