<!-- CORPO AO LADO DA BARRA LATERAL-->    
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 div-caixas zerar-padding-all">

  <!-- CAIXAS DE CONTEÚDO -->    
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-conteudo div-corpo-galeria zerar-padding-all">
    <h1>NOSSA FROTA</h1>
    <p>Contamos com uma frota de veículos de alta qualidade, sempre cuidado do processo de manutenção preventiva para garantir a segurança para nossos clientes.</p>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 div-galeria-box zerar-padding-all">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-galeria-box-interna zerar-padding-all">
        <%= image_tag("../images/rodape/logo-menor.png", :class => "img-responsive logo-rodape") %>
      </div>
      <h4>Máster Renault</h4>
      <ul>
        <li>15 Lugares</li>
        <li>Ar Condicionado</li>
      </ul>   
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 div-galeria-box zerar-padding-all">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-galeria-box-interna zerar-padding-all">
        <%= image_tag("../images/rodape/logo-menor.png", :class => "img-responsive logo-rodape") %>
      </div>
      <h4>Microônibus Volare A6</h4>
      <ul>
        <li>23 lugares</li>
        <li>Ar Condicionado</li>
      </ul>  
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 div-galeria-box zerar-padding-all">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-galeria-box-interna zerar-padding-all">
        <%= image_tag("../images/rodape/logo-menor.png", :class => "img-responsive logo-rodape") %>
      </div>
      <h4>Microônibus Volare A6</h4>
      <ul>
        <li>24 lugares</li>
        <li>Ar Condicionado</li>
      </ul>  
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 div-galeria-box zerar-padding-all">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-galeria-box-interna zerar-padding-all">
        <%= image_tag("../images/rodape/logo-menor.png", :class => "img-responsive logo-rodape") %>
      </div>
      <h4>Microônibus Volare A6</h4>
      <ul>
        <li>19 lugares</li>
        <li>Semi Executivo</li>
        <li>Ar Condicionado</li>
      </ul>  
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 div-galeria-box zerar-padding-all">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-galeria-box-interna zerar-padding-all">
        <%= image_tag("../images/rodape/logo-menor.png", :class => "img-responsive logo-rodape") %>
      </div>
      <h4>Microônibus Comil</h4>
      <ul>
        <li>23 lugares</li>
        <li>Executivo</li>
        <li>Ar Condicionado</li>
        <li>TV com DVD</li>
        <li>Calefação</li>
      </ul>  
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 div-galeria-box zerar-padding-all">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-galeria-box-interna zerar-padding-all">
        <%= image_tag("../images/rodape/logo-menor.png", :class => "img-responsive logo-rodape") %>
      </div>
      <h4>Microônibus Volare A6</h4>
      <ul>
        <li>19 lugares</li>
        <li>Semi Executivo</li>
        <li>Ar Condicionado</li>
      </ul>  
    </div>
  </div>
</div>