<%= form_for(@parceiro, :html => {:multipart => true, :role => "form"}) do |f| %>
  <%= f.error_messages %>
  <div class="form-group form-group-custom">
    <%= f.label :nome, "Nome do Parceiro", :class => "control-label" %>
    <%= f.text_field :nome, :class => "form-control", :placeholder => "informe o nome do Parceiro" %>
  </div>
  <div class="form-group form-group-custom">
    <%= f.label :site, "Site", :class => "control-label" %>
    <%= f.text_field :site, :class => "form-control", :placeholder => "informe o site do Parceiro" %>
  </div>
  <div class="form-group form-group-custom">
    <%= f.label :posicao, "Posição do Parceiro", :class => "control-label" %>
    <%= f.number_field :posicao, :class => "form-control", :placeholder => "informe a posição do Parceiro" %>
  </div>
  <div class="form-group form-group-custom">
    <%= f.label :capa, "Imagem de Capa do Parceiro", :class => "control-label" %>
    <%= f.file_field :capa, :class => "form-control" %>
  </div>
  <div class="form-group form-group-custom">
    <%= f.label :status, "Status", :class => "control-label" %>
    <%= f.select :status, [['Ativo', 0], ['Inativo', 1]], {}, {:class => "form-control"} %>
  </div>
  <div class="form-group form-group-custom">
    <%= f.submit "Salvar", :class => "btn btn-success" %>
  </div>
<% end %>