<div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
  <ol class="breadcrumb">
    <li><%= link_to("Início", arearestrita_url) %></li>
    <li class="active">Cadastro de Parceiros</li>
  </ol>

  <div class="panel panel-primary">
    <div class="panel-heading col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="nav navbar-nav navbar-left">
        <li><h3 class="panel-title">Cadastro de Parceiros</h3></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-panel-custom" data-toggle="dropdown">Opções <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if valida_menu(9) %>
              <li>
                <%= link_to(new_parceiro_path, "role" => "button") do %>
                  <span class="glyphicon glyphicon-plus-sign"></span>
                  &nbsp;Cadastrar Parceiro
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
    <div class="panel-body table-responsive">
      <table class="table table-hover">
        <thead>
          <th class="col-md-1 col-lg-1">ID Site</th>
          <th class="col-md-4 col-lg-4">Nome</th>
          <th class="col-md-4 col-lg-4">Site</th>
          <th class="col-md-1 col-lg-1">Status</th>
          <th class="col-md-1 col-lg-1">Posição</th>
          <th class="col-md-1 col-lg-1"></th>
        </thead>
        <tbody>
          <% for item in @parceiros.paginate(:page => params[:page], :per_page => 10) %>
            <tr>
              <td><%= item.id.to_s.rjust(6, '0') %></td>
              <td><%= item.nome %></td>
              <td><%= item.site %></td>
              <td>
                <% case item.status %>
                  <% when 0 %>
                    Ativo
                  <% when 1 %>
                    Inativo
                <% end %>
              </td>
              <td><%= item.posicao %></td>
              <td align="right">
                <% if valida_menu(13) %>
                  <%= link_to(item, :role => "button", :title => "Visualizar") do %>
                    <span class="glyphicon glyphicon-zoom-in"></span>
                  <% end %>
                <% end %>
                <% if valida_menu(10) %>
                  <%= link_to(edit_parceiro_path(item), :role => "button", :title => "Editar") do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                  <% end %>
                <% end %>
                <% if valida_menu(11) %>
                  <%= link_to(item, :confirm => 'Você tem certeza?', :method => :delete, :title => "Apagar") do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @parceiros.count > 10 %>
        <div align="center">
          <p>
            <span class="glyphicon glyphicon-chevron-left"></span>
              <%= will_paginate @parceiros.paginate(:page => params[:page], :per_page => 10), :container => false, :previous_label => 'Anterior', :next_label => 'Próximo' %>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>