<div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
  <ol class="breadcrumb">
    <li><%= link_to("Início", arearestrita_url) %></li>
    <li><%= link_to("Cadastro de Parceiros", parceiros_url) %></li>
    <li class="active">Exibir Parceiro</li>
  </ol>

  <div class="panel panel-primary">
    <div class="panel-heading col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="nav navbar-nav navbar-left">
        <li><h3 class="panel-title">Cadastro de Parceiros</h3></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-panel-custom" data-toggle="dropdown">Opções <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if valida_menu(9) %>
              <li>
                <%= link_to(new_parceiro_path, "role" => "button") do %>
                  <span class="glyphicon glyphicon-plus-sign"></span>
                  &nbsp;Cadastrar Parceiro
                <% end %>
              </li>
            <% end %>
            <% if valida_menu(10) %>
              <li>
                <%= link_to(edit_parceiro_path(@parceiro), "role" => "button") do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                  &nbsp;Editar Parceiro
                <% end %>
              </li>
            <% end %>
            <% if valida_menu(12) %>
              <li class="divider"></li>
              <li>
                <%= link_to(parceiros_path, "role" => "button") do %>
                  <span class="glyphicon glyphicon-tasks"></span>
                  &nbsp;Listar Parceiros
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="row-fluid row-fluid-custom">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Informações Básicas</h3>
            </div>
            <div class="panel-body">
              <p><b>Identificador do Site:</b> <%= @parceiro.id.to_s.rjust(6, '0') %></p>
              <p><b>Nome:</b> <%= @parceiro.nome %></p>
              <p><b>Site:</b> <%= @parceiro.site %></p>
              <p><b>Posição:</b> <%= @parceiro.posicao %></p>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Informações de Cadastro</h3>
            </div>
            <div class="panel-body">
              <p><b>Cadastrado em:</b> <%= @parceiro.created_at.to_s(:data_hora) %></p>
              <p><b>Cadastrado por:</b> <%= @parceiro.user.nome_completo %></p>
              <p><b>Status:</b> 
                <% case @parceiro.status %>
                  <% when 0 %>
                    Ativo
                  <% when 1 %>
                    Inativo
                <% end %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Imagem de Capa</h3>
            </div>
            <div class="panel-body" align="center">
              <%= image_tag(@parceiro.capa.url(:thumb), :class => "img-responsive") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>