<div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
  <ol class="breadcrumb">
    <li><%= link_to("Início", arearestrita_url) %></li>
    <li class="active">Cadastro de Fichas</li>
  </ol>

  <div class="panel panel-primary">
    <div class="panel-heading col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3 class="panel-title">Cadastro de Fichas</h3>
    </div>
    <div class="panel-body table-responsive">
      <table class="table table-hover">
        <thead>
          <th class="col-md-1 col-lg-1">ID Site</th>
          <th class="col-md-9 col-lg-9">Nome</th>
          <th class="col-md-1 col-lg-1">Status</th>
          <th class="col-md-1 col-lg-1"></th>
        </thead>
        <tbody>
          <% for item in @fichas.paginate(:page => params[:page], :per_page => 10) %>
            <tr>
              <td><%= item.id.to_s.rjust(6, '0') %></td>
              <td><%= item.nome %></td>
              <td>
                <% case item.status %>
                  <% when 0 %>
                    Ativo
                  <% when 1 %>
                    Inativo
                <% end %>
              </td>
              <td align="right">
                <% if valida_menu(59) %>
                  <%= link_to(item, :role => "button", :title => "Visualizar") do %>
                    <span class="glyphicon glyphicon-zoom-in"></span>
                  <% end %>
                <% end %>
                <% if valida_menu(56) %>
                  <%= link_to(edit_ficha_path(item), :role => "button", :title => "Editar") do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                  <% end %>
                <% end %>
                <% if valida_menu(57) %>
                  <%= link_to(item, :confirm => 'Você tem certeza?', :method => :delete, :title => "Apagar") do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @fichas.count > 10 %>
        <div align="center">
          <p>
            <span class="glyphicon glyphicon-chevron-left"></span>
              <%= will_paginate @fichas.paginate(:page => params[:page], :per_page => 10), :container => false, :previous_label => 'Anterior', :next_label => 'Próximo' %>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>