<div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
  <ol class="breadcrumb">
    <li><%= link_to("Início", arearestrita_url) %></li>
    <li><%= link_to("Cadastro de Galerias", galerias_url) %></li>
    <li class="active">Exibir Galeria</li>
  </ol>

  <div class="panel panel-primary">
    <div class="panel-heading col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="nav navbar-nav navbar-left">
        <li><h3 class="panel-title">Cadastro de Galerias</h3></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-panel-custom" data-toggle="dropdown">Opções <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if valida_menu(23) %>
              <li>
                <%= link_to(new_galeria_path, "role" => "button") do %>
                  <span class="glyphicon glyphicon-plus-sign"></span>
                  &nbsp;Cadastrar Galeria
                <% end %>
              </li>
            <% end %>
            <% if valida_menu(24) %>
              <li>
                <%= link_to(edit_galeria_path(@galeria), "role" => "button") do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                  &nbsp;Editar Galeria
                <% end %>
              </li>
            <% end %>
            <% if valida_menu(26) %>
              <li class="divider"></li>
              <li>
                <%= link_to(galerias_path, "role" => "button") do %>
                  <span class="glyphicon glyphicon-tasks"></span>
                  &nbsp;Listar Galerias
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="row-fluid row-fluid-custom">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Informações Básicas</h3>
            </div>
            <div class="panel-body">
              <p><b>Identificador do Site:</b> <%= @galeria.id.to_s.rjust(6, '0') %></p>
              <p><b>Nome:</b> <%= @galeria.nome %></p>
              <p><b>Nome em Código:</b> <%= @galeria.slug %></p>
              <p><b>Descrição:</b> <%= @galeria.descricao.gsub("\n", "</p><p></p><p>").html_safe %></p>
              <p><b>Posição:</b> <%= @galeria.posicao %></p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Imagens do Galeria</h3>
            </div>
            <div class="panel-body" align="center">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% @images.each_with_index do |image, i| %>
                    <% if i == 0 %>
                      <div class="item active">
                    <% else %>
                      <div class="item">
                    <% end %>
                      <%= image_tag(image.image.url(:medium), :class => "img-responsive") %>
                    </div>
                  <% end %>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Informações de Cadastro</h3>
            </div>
            <div class="panel-body">
              <p><b>Cadastrado em:</b> <%= @galeria.created_at.to_s(:data_hora) %></p>
              <p><b>Cadastrado por:</b> <%= @galeria.user.nome_completo %></p>
              <p><b>Acessos:</b> <%= @galeria.acessos %></p>
              <p><b>Status:</b> 
                <% case @galeria.status %>
                  <% when 0 %>
                    Ativo
                  <% when 1 %>
                    Inativo
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>